.confirmationGallery {
    width: 100%
}

.confirmationGallery {
    display: flex;
    flex-wrap: wrap;
}

/* Overrides default img styles */
.img,
.img:hover {
        max-height: 200px;
        width: auto;
        margin: 10px;
        cursor: default;
}