/* Sets overall width of page */
#root {
    max-width: 1050px;
    margin: auto;
    padding: 5px;
}

/* Header bar */
.header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header h1 {
    font-family: AktivGrotesk-Bold, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 0.8;
}

/* Nav elements */
.nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.nav a {
    font-family: ibm-plex-mono, sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
}

.nav .active {
    text-decoration: underline;
}

.nav a:visited {
    color: inherit;
}

/* Contains project text + images */
.projectContainer {
    margin: 2rem auto;
}

/* Responsive image gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 200px;
    margin: 10px;
}

img:hover {
    cursor: pointer;
}