body {
  margin: 0;
  font-family: AktivGrotesk-Regular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(38, 38, 38);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: AktivGrotesk-Regular;
  src: local('AktivGrotesk-Regular'), url('./assets/fonts/AktivGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: AktivGrotesk-Thin;
  src: local('AktivGrotesk-Thin'), url('./assets/fonts/AktivGrotesk-Thin.otf') format('opentype');
}

@font-face {
  font-family: AktivGrotesk-Bold;
  src: local('AktivGrotesk-Bold'), url('./assets/fonts/AktivGrotesk-Bold.otf') format('opentype');
}

